*{
    margin: 0;
    padding: 0;
}

/*
Color negro: #222831
Grisecito: #393E46
Naranja: #FD7014
Blanco: #EEEEEE
*/

body{
    background-color: #222831;
    color: #EEEEEE;
}

.navegador{
    padding-top: 1%;
    padding-bottom: 1%;
    margin-bottom: 2%;
    background-color: #FD7014;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
}
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu li{
    list-style-type: none;
    font-size: 25px;
}
.menu li a{
    text-decoration: none;
    color: #222831;
}
.menu li a:hover{
    color: #393E46;
}
.titulo{
    font-size: 35px;
}

.inicio{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.inicio div{
    padding-left: 5%;
    padding-right: 5%;
}

.plata{
    display: flex;
    justify-content: center;
    padding: 2%;
    margin: 2%;
}
.plata-pesos{
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.plata-input{
    display: flex;
    flex-direction: column;

}

.beneficios{
    display: flex;
    justify-content: center;
}
.tarjeta{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    padding-top: 2%;
    padding-bottom: 4%;
    width: 20%;
    background-color: #FD7014;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.35);
    border-radius: 5%;
}
.tarjeta img{
    width: 25%;
    padding-bottom: 10%;
}
.tarjeta h3{
    margin-top: 5%;
    text-align: center;
    color: #222831;
    font-weight: bold;
}
.tarjeta p{
    text-align: center;
    margin-bottom: 0px;
    padding: 1%;
    color: #222831;
}
.color-secundario{
    background-color: #EEEEEE;
}
.color-secundario p{
    text-align: center;
    margin-bottom: 0px;
    padding: 1%;
    color: #222831;
}
.color-secundario h3{
    color: #222831;
}
.hvr-grow {
    vertical-align: middle;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1); }

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3.5%;
    background-color: #FD7014;
    box-shadow: 10px 6px 10px 10px rgba(0, 0, 0, 0.35);
}
.registro{
    color: #222831;
}
.redes h4{
    color: #222831
}
.redes img{
    margin: 5%;
}

.wallet{
    margin-top: 40px;
    margin-bottom: 40px;
}

.transacciones{
    margin-top: 40px;
    margin-bottom: 40px;
}

.orden{
    display: flex;
}

.orden article {
    padding: 15px;
}

.ocultar{
    display: none;
}